@media (min-width: 1024px) {
  .head {
    margin-top: 0px;
    font-size: 35px;
    text-shadow: 5px 5px 1px gray;
  }

  .pro {
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .appl {
    margin: 1vw;
    height: 40vh;
    width: 16vw;
    filter: grayscale(1);
    background: rgba(255, 255, 255, .2);
  }

  .appl:hover {
    filter: grayscale(0);
  }

  .imgA {
    height: 20vh;
    width: 16vw;
  }

  h4 {
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {
  .head {
    margin-top: 0px;
    font-size: 4vh;
    text-shadow: 5px 5px 1px gray;
  }

  .pro {
    display: flex;
    flex-shrink: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .appl {
    margin: 1vh;
    height: 30vh;
    width: 35vw;
    filter: grayscale(1);
    background: rgba(255, 255, 255, .2);
  }

  .imgA {
    height: 11vh;
    width: 18vw;
  }

  .appl:hover {
    filter: grayscale(0);
  }

  h4 {
    margin-top: 0px;
    font-size: 1.4vh;
  }
}

@media (max-width: 280px) {
  .appl {
    
    height: 28vh;
    width: 35vw;
  }

  .imgA {
    height: 10vh;
    width: 35vw;
  }
}

@media screen and (max-width: 539px) and (min-width: 281px) {
  .appl {
    height: 30vh;
    width: 35vw;
  }
  
  .imgA {
    height: 13.5vh;
    width: 35vw;
  }
  h4 {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 912px) and (min-width: 540px) {
  .appl {
    height: 31vh;
    width: 35vw;

  }

  .imgA {
    height: 16vh;
    width: 35vw;
  }
  h4 {
    font-size: 1.6vh;
  }
}